{% extends 'main.html' %}

{%block label%}
    {% if room.deliver.username == request.user.username %}
        <label id="chat_name"> {{room.sender}}</label>
    {% else %}
        <label id="chat_name"> {{room.deliver}}</label>
    {% endif %}
{%endblock%}

{% block content %}
    <div class="messages_block">
        <div class="chat-messages space-y-3 text-neutral-900" id="chat-messages">
            {% for message in messages %}
                <div class="p-4 rounded-xl" id="message">
                    <p class="font-semibold">{{ message.user.username }}</p>
                    <p>{{ message.content }}</p>
                    <p>{{ message.date_added }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="input-content bg-grey-200 rounded-xl" id="input_block">
        <form method="post" action="." class="flex">
            <input type="text" name="content" class="flex-1 mr-3 text-white bg-grey-200" placeholder="Your message..." id="chat-message-input">

            <button 
                class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700"
                id="chat-message-submit"
            >Submit</button>
        </form>
    </div>
<style>
    *::-webkit-scrollbar {
        height: 8px;
        width: 6px;
    }
    *::-webkit-scrollbar-track {
        background: #0f0f0f;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #e5e7eb;
        border-radius: 0px;
    }
    #message{
        color: #0f0f0f;
        /* border: 1px solid #0f0f0f; */
        background-color: #e5e7eb;
        box-shadow: 0px 5px 2px #e5e7eb;
    }
    #chat-message-input{
        color: #0f0f0f;
        border-radius: 10px;
        padding-left: 10px;
    }
    #chat_name{
        color: aliceblue; 
        font-size: 50px; 
    }
</style>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        console.log('onmessage')

        const data = JSON.parse(e.data);

        if (data.message) {
            let html = '<div class="p-4 rounded-xl" id="message">';
                html += '<p class="font-semibold">' + data.username + '</p>';
                html += '<p>' + data.message + '</p></div>';
                // html += '<p>' + data + '</p></div>';

            document.querySelector('#chat-messages').innerHTML += html;

            scrollToBottom();
        } else {
            alert('The message was empty!');
        }
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    //

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName,

        }));

        messageInputDom.value = '';

        return false;
    }

    //

    function scrollToBottom() {
        const objDiv = document.querySelector('#chat-messages');
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    scrollToBottom();
</script>
{% endblock %}