{% extends 'main.html' %}

{% block delete %}
<div id="delete_wrapp">
    <form action="" method="POST">
        {% csrf_token %}
        <label id="confirm_text">Are you sure want to delete this chat?</label>
        <p></p>
        <input type="submit" value="Delete" id="delete_button">
    </form>
    <a href="{% url 'main' %}"><button id="back_button">Back</button></a>
</div>

<style>
    #delete_wrapp{
        margin: auto;
        display: block;
        text-align: center;
        margin-top: 84px;
    }
    #confirm_text{
        font-size: 1.5vw;
        text-align: center;
    }
    #delete_button, #back_button{
        width: 6vw;
        font-size: 1vw;
        border: 2px solid aliceblue;
        border-radius: 15px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 1vh;
    }
    #delete_button:hover, #back_button:hover{
        transition: .3s linear;
        transform: scale(1.07);
    }
    #del_block{
        width: 2vw;
        height: 45px;
        background-color: aliceblue;
        border-radius: 15px;
        margin-right: 0.7vw;
        border: none;
    }
    #del_block:hover{
        border: 3px solid #3d3d3d;
        transition: all .3s ease;
    }
    #del_btn{
        margin: auto;
        width: 1.5vw;
        height: 35px;
        padding-top: 10px;
    }
</style>
{% endblock %}