{% extends 'main.html' %}



{% block search %}
<div id="contains">
    <div id="create_chat">
        <label><p>New chat</p></label>
    </div>
    <div id="users_block">
        <form action="" method="POST" id="hid">
            {% csrf_token %}
            <div class="fieldWrapper">
                <label for="id_sender">Sender</label>
                <select name="sender" required id="id_sender">
                    <option value="1" selected>{{ request.user.username }}</option>
                </select>
                <label for="id_deliver">Deliver</label>
                <select name="deliver" required="" id="id_deliver">
                    <option value="" selected>Choose the user</option>
                    {% for user in users %}
                        {% if user.username != 'admin' %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </select>
                <p></p>
                <label for="id_name">Chat name</label>
                <input type="text" name="name" maxlength="255" required="" id="id_name">
            </div>
            <a href="{% url 'main' %}"><input type="submit" value="Create"></a>
        </form>
    </div>
</div>

<style>
    #contains{
        height: 100vh;
        overflow-y: auto;
    }
    #create_chat{
        margin-top: 64px;
    }
    #create_chat label{
        margin: auto !important; 
        display: block;
        font-size: 2vw;
        text-align: center;
        width: 19.5vw;
    }
    #users_block{
        color: aliceblue;
        height: 10vh;
        margin: auto;
        width: 25vw;
        /* padding-left: 1vw; */
        font-size: 2.5vh;
        /* padding-top: 1vh; */
        display: block;
    }
    #hid form{
        margin: auto;
        display: block;
        width: 27vw;
        margin-bottom: 2vh;
        height: 5.4vh;
    }
    #hid input[type=text] {
        width: 19.5vw;
        margin-left: 1vw;
        /* margin-right: 0.5vw; */
        height: 5.4vh;
        padding-left: 15px;
        border-radius: 15px;
        border: 2px solid aliceblue;
        background: #0f0f0f;
        transition: .3s linear;
        color: aliceblue;
        margin-bottom: 3vh;
    }
    #hid input[type=submit]{
        width: 19.5vw;
        border-radius: 15px;
        height: 5.3vh;
        border: 2px solid aliceblue;
        background: #0f0f0f;
        color: aliceblue;
        margin-left: 1vw;
    }
    #hid input[type=submit]:hover{
        transition: all .3s ease;
        font-size: 0.95vw;
        height: 4.3vh;
    }
    #hid select{
        width: 19.5vw;
        margin-left: 1vw;
        /* margin-right: 0.5vw; */
        height: 5.4vh;
        padding-left: 15px;
        border-radius: 15px;
        border: 2px solid aliceblue;
        background: #0f0f0f;
        transition: .3s linear;
        color: aliceblue;
        margin-bottom: 1vh;
    }
    label[for=id_sender], label[for=id_deliver], label[for=id_name]{
        /* text-align: center; */
        margin-top: 2vh;
        margin: auto;
        /* display: block; */
        width: 7vw;
    }
</style>
{% endblock %}